network:
  version: 2
  renderer: networkd

  ethernets:
    {{ server_main_interface }}:
      optional: true
{% if main_iface_static_ip is defined and main_iface_static_ip %}
      addresses:
        - {{ main_iface_static_ip }}
      nameservers:
        addresses:
{% if main_iface_static_dns is defined and main_iface_static_dns %}
          - {{ main_iface_static_dns }}
{% endif %}
          - 8.8.8.8
          - 1.1.1.1
{% else %}
      dhcp4: true
{% endif %}
    {{ server_wifi_iface }}:
      dhcp4: true
      dhcp6: false
      addresses:
        - 192.168.50.1/24
      optional: true
      link-local: []
