[Match]
Name={{ server_wifi_iface }}

[Network]
Address=192.168.50.1/24
DHCP=no
DHCPServer=yes

[DHCPServer]
PoolOffset=10
PoolSize=100
EmitRouter=yes
Router=192.168.50.1
EmitDNS=yes
DNS=8.8.8.8 1.1.1.1
LeaseTimeSec=3h
