{
  "Dhcp4": {
    "interfaces-config": {
      "interfaces": [ "{{ server_wifi_iface }}" ]
    },
    "lease-database": {
      "type": "memfile",
      "persist": true,
      "name": "/var/lib/kea/dhcp4.leases"
    },
    "subnet4": [
      {
        "subnet": "192.168.50.0/24",
        "pools": [
          { "pool": "192.168.50.100 - 192.168.50.200" }
        ],
        "option-data": [
          { "name": "routers", "data": "192.168.50.1" },
          { "name": "domain-name-servers", "data": "1.1.1.1, 8.8.8.8" },
          { "name": "domain-name", "data": "lan.local" }
        ]
      }
    ]
  }
}
