[submodule "roles/fail2ban"]
	path = roles/fail2ban
	url = https://github.com/Oefenweb/ansible-fail2ban.git
[submodule "roles/postfix"]
	path = roles/postfix
	url = https://github.com/Oefenweb/ansible-postfix.git
[submodule "roles/system/data/docker-clean"]
	path = roles/docker/data/docker-clean
	url = https://github.com/ZZROTDesign/docker-clean.git
