- name: Add AmneziaWG repository
  ansible.builtin.apt_repository:
    repo: ppa:amnezia/ppa
  tags:
    - amnezia-vpn
    - server

- name: Update APT caches
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - amnezia-vpn
    - server

- name: Install AmneziaWG
  ansible.builtin.apt:
    name: amneziawg
    state: present
  tags:
    - amnezia-vpn
    - server

- name: Get main IP Link
  ansible.builtin.command: |
    bash -c '
    set -eo pipefail
    ip link show | grep "<BROADCAST" | grep "state UP" | head -n1 | cut -d":" -f2 | awk "{print $1}"
    '
  register: server_iface_cmd_res
  changed_when: false
  tags:
    - amnezia-vpn
    - server

- name: Get main server interface
  ansible.builtin.set_fact:
    server_iface: "{{ server_iface_cmd_res.stdout | trim }}"
  tags:
    - amnezia-vpn
    - server

- name: Ensure interfaces dir
  ansible.builtin.file:
    state: directory
    path: /etc/amnezia/amneziawg
    mode: 0700
  tags:
    - amnezia-vpn
    - server

- name: Create interfaces
  ansible.builtin.template:
    src: templates/awg_interface.conf.j2
    dest: /etc/amnezia/amneziawg/{{ item.name }}.conf
    mode: 0600
  loop: "{{ awg_interfaces }}"
  notify:
    - Enable AWG services
    - Restart AWG services
  tags:
    - amnezia-vpn
    - server

- name: Build allowed_services from interface config
  ansible.builtin.set_fact:
    allowed_services_from_ifaces: >-
      {{(allowed_services_from_ifaces | default([])) + [ { 'rule': 'allow', 'proto': 'udp', 'to_port': item.listen_port } ]}}
  loop: "{{ awg_interfaces }}"
  tags:
    - amnezia-vpn
    - server

- name: Merge allowed services
  ansible.builtin.set_fact:
    allowed_services_merged: >-
      {{
        ((allowed_services | default([ { 'rule': 'limit', 'proto': 'tcp', 'to_port': 22 } ])) + (allowed_services_from_ifaces | default([])))
      }}
  tags:
    - amnezia-vpn
    - server

- name: Apply firewall role
  ansible.builtin.include_role:
    name: firewall
  vars:
    allowed_services: "{{ allowed_services_merged }}"

- name: Ensure client configs dir
  delegate_to: localhost
  become: false
  ansible.builtin.file:
    path: "{{ playbook_dir }}/generated/amnezia-vpn-clients"
    state: directory
  tags:
    - amnezia-vpn
    - client

- name: Generate client configs
  delegate_to: localhost
  become: false
  ansible.builtin.template:
    src: templates/awg_client.conf.j2
    dest: "{{ playbook_dir }}/generated/amnezia-vpn-clients/{{ item.0.name }}-{{ item.1.name }}.conf"
  loop: "{{ awg_interfaces | subelements('peers') }}"
  tags:
    - amnezia-vpn
    - client

- name: Enable forwarding
  ansible.builtin.lineinfile:
    path: /etc/sysctl.d/00-amnezia.conf
    line: 'net.ipv4.ip_forward = 1'
    state: present
    create: true
  notify: Reboot host
  tags:
    - amnezia-vpn
    - server
