logoutput: syslog

internal: 0.0.0.0 port={{ socks5_port }}
external: {{ ansible_default_ipv4.interface }}

user.privileged: root
user.unprivileged: nobody
user.libwrap: nobody

socksmethod: pam.username

client pass {
    from: 0/0 to: 0/0
    log: connect disconnect error ioop
}

socks pass {
    from: 0/0 to: 0/0
    log: connect disconnect error ioop
}
