services:
  app:
    restart: always
    image: '{{ app_docker_image }}'

    {% if publish_app_ports_ %}

    ports:
      - '127.0.0.1:{{ service_port_ }}:{{ internal_port_ }}'
    {% endif %}

    {% if add_mongo_ %}

    depends_on:
      - mongodb
    {% endif %}

    {% if project_environment_ %}

    environment:
      {% for var_def in project_environment_ %}
      - {{ var_def }}
      {% endfor %}
    {% endif %}

  {% if add_mongo_ %}
  mongodb:
    restart: always
    user: root
    image: 'docker.io/mongodb/mongodb-community-server:{{ mongo_tag_ }}'
    {% if mongo_environment_ %}

    environment:
      {% for var_def in mongo_environment_ %}
        - {{ var_def }}
      {% endfor %}
    {% endif %}

    volumes:
      - {{ mongo_db_path_ }}:/data/db:rw
      {% if mongo_config_path_ %}

      - {{ mongo_config_path_ }}:/data/configdb:rw
      {% endif %}
  {% endif %}
