- name: Add AmneziaWG repository
  ansible.builtin.apt_repository:
    repo: ppa:amnezia/ppa
  tags:
    - amnezia-vpn-client

- name: Update APT caches
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - amnezia-vpn-client

- name: Install AmneziaWG
  ansible.builtin.apt:
    name: amneziawg
    state: present
  notify: Reload systemd
  tags:
    - amnezia-vpn-client

- name: Ensure interfaces dir
  ansible.builtin.file:
    state: directory
    path: /etc/amnezia/amneziawg
    mode: 0700
  tags:
    - amnezia-vpn-client

- name: Prepare peers data
  ansible.builtin.set_fact:
    peer_interface: "{{ _peer_json | from_json }}"
  vars:
    _peer_json: |
      {% set ns = namespace(out={}) %}
      {% for item in awg_interfaces %}
        {% if item.name == awg_choosen_interface %}
          {% for item_peer in item.peers %}
            {% if item_peer.name == awg_choosen_peer %}
              {% set ns.out = {'server_addr': awg_server_addr, 'iface': item, 'peer': item_peer} %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {{ ns.out | to_json }}

- name: Create peer interfaces
  ansible.builtin.template:
    src: templates/awg_client.conf.j2
    dest: /etc/amnezia/amneziawg/{{ peer_interface.iface.name }}.conf
    mode: 0600
  notify:
    - Reload systemd
    - Enable AWG service
    - Restart AWG service
  tags:
    - amnezia-vpn-client
