[Interface]
PrivateKey = {{ peer_interface.peer.peer_priv_key }}
# Public Key: {{ peer_interface.peer.peer_pub_key }}
Address = {{ peer_interface.peer.client_ip }}
Jc = {{ peer_interface.iface.jc }}
Jmin = {{ peer_interface.iface.j_min }}
Jmax = {{ peer_interface.iface.j_max }}
S1 = {{ peer_interface.iface.s1 }}
S2 = {{ peer_interface.iface.s2 }}
H1 = {{ peer_interface.iface.h1 }}
H2 = {{ peer_interface.iface.h2 }}
H3 = {{ peer_interface.iface.h3 }}
H4 = {{ peer_interface.iface.h4 }}

[Peer]
Endpoint = {{ peer_interface.server_addr }}:{{ peer_interface.iface.listen_port }}
PublicKey = {{ peer_interface.iface.server_pub_key }}
PersistentKeepalive = 60
AllowedIPs = 0.0.0.0/0
